/*
 * Base structure
 */

html,
body {
    min-height: 100vh;
    background-color: #333;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    flex-direction: column;
}

.wrapper {
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-center {
    max-width: 480px;
    text-align: center;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;

}

/*
 * Footer
 */
footer {
    text-align: center;
    color: rgba(255, 255, 255, .5);

}

footer p {
    font-size: 12px;
}